<div class="container mx-auto" style="min-height: 77.3vh; font-size: 14px; padding-top: 50px; display: grid; place-items: center;">
  <h1 class="mb-4 CatalogoH1 ">{{ 'CookiePolicy' | translate }}</h1>
  <div>
    <b style="color: rgb(92, 129, 249);">{{ 'WhatAreCookies' | translate }}</b>
    <p>{{ 'WhatAreCookiesDescription' | translate }}</p>
    <b style="color: rgb(92, 129, 249);">{{ 'HowCookiesAreUsed' | translate }}</b>
    <p>{{ 'HowCookiesAreUsedDescription' | translate }}</p>
    <b style="color: rgb(92, 129, 249);">{{ 'CookieControl' | translate }}</b>
    <p>{{ 'CookieControlDescription' | translate }}</p>
    <b style="color: rgb(92, 129, 249);">{{ 'CookiePolicyChanges' | translate }}</b>
    <p>{{ 'CookiePolicyChangesDescription' | translate }}</p>
    </div>
    <div class="container mx-auto my-5 text-center" style="display: flex; justify-content: space-around;">
      <a [routerLink]="['/politica']" class="menu__link  selected">{{ 'CookiePolicy' | translate }}</a>
      <a [routerLink]="['/legal']" class="menu__link">{{ 'LegalNotice' | translate }}</a>
      <a [routerLink]="['/privacidad']" class="menu__link">{{ 'PrivacyPolicy' | translate }}</a>
    </div>
</div>
<app-footer/>
