<div class="container mx-auto" style="min-height: 76.3vh; padding-top: 30px; display: grid; place-items: center;">
  <div style="background-color:rgb(232, 232, 232); padding: 30px 100px; border-radius: 20px; width: 100%;">
    <h1 class="mb-4 CatalogoH1 text-center">{{ 'about.title' | translate }}</h1>
    <p class="lead mx-auto text-center">{{ 'about.subtitle' | translate }}</p>
  </div>

  <section class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="border-radius: 10px; background-image: url('assets/img/design/juan.jpg'); height: 500px; background-size: cover;">
        </div>
        <div class="col-md-8 mt-5 text-end">
          <h2 class="mb-4 text-end" style="color: rgb(92, 129, 249);">{{ 'about.juanName' | translate }}</h2>
          <p class="lead mt-4 text-end ms-auto" style="width: 85%;">
            {{ 'about.juanDescription' | translate }}
          </p>
          <a (click)="scrollToSection('Logros')" style="width: fit-content; cursor: pointer; color: rgb(92, 129, 249); text-decoration: underline;">{{ 'about.seeAchievements' | translate }}</a>
        </div>
      </div>
    </div>
  </section>

  <span id="Logros" style="padding-top: 30px;"></span>
  <div class="container">
    <section class="about-section text-center py-5">
      <div class="container">
        <h2 class="mb-4">{{ 'about.historyTitle' | translate }}</h2>
        <p class="lead w-75 mx-auto">
          {{ 'about.historyDescription' | translate }}
        </p>
      </div>
    </section>

    <section class="about-section text-center py-5">
      <div class="container">
        <h2 class="mb-4">{{ 'about.achievementsTitle' | translate }}</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <img height="350px" src="assets/img/design/2.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(92, 129, 249);">{{ 'about.achievement1.title' | translate }}</h5>
                <p class="card-text">{{ 'about.achievement1.description' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div style="height: 325px; background-position: center; background-image: url('assets/img/design/3.jpg'); background-size: cover;"></div>
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(92, 129, 249);">{{ 'about.achievement2.title' | translate }}</h5>
                <p class="card-text">{{ 'about.achievement2.description' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img height="350px" src="assets/img/design/1.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(92, 129, 249);">{{ 'about.achievement3.title' | translate }}</h5>
                <p class="card-text">{{ 'about.achievement3.description' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
