<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-3 col-lg-7 bg-image"></div>
    <div class="col-md-9 col-lg-5">
      <div class="login d-flex align-items-center py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-9 mx-auto">
              <h3 class="login-heading text-center">{{ 'registration.title' | translate }}</h3>
              <!-- Sign In Form -->
              <form autocomplete="off" class="w-100 mx-auto" [formGroup]="registerForm" (ngSubmit)="sendVerificationEmail()">
                <div class="my-3">
                  <div class="position-relative">
                    <input type="text" class="formInput" id="floatingInput1" placeholder="{{ 'registration.namePlaceholder' | translate }}" formControlName="nombre">
                    <div *ngIf="registerForm.get('nombre')?.errors?.['required'] && registerForm.get('nombre')?.touched" class="tiptool" style="margin-right: -5px;">
                      <div class="icon">!</div>
                      <div class="tooltiptext">
                        <div style="margin-bottom: -15px;">
                          <p *ngIf="(registerForm.get('nombre')?.errors?.['required'])" style="font-size: 15px">{{ 'registration.nameRequired' | translate }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="my-3">
                  <div class="position-relative">
                    <input type="email" class="formInput" id="floatingInput2" placeholder="{{ 'registration.emailPlaceholder' | translate }}" formControlName="correo">
                    <div *ngIf="(registerForm.get('correo')?.errors?.['required'] || registerForm.get('correo')?.errors?.['email']) && registerForm.get('correo')?.touched" class="tiptool" style="margin-right: -5px;">
                      <div class="icon">!</div>
                      <div class="tooltiptext">
                        <div style="margin-bottom: -15px;">
                          <p *ngIf="(registerForm.get('correo')?.errors?.['required'])" style="font-size: 15px">{{ 'registration.emailRequired' | translate }}</p>
                          <p *ngIf="(registerForm.get('correo')?.errors?.['email'])" style="font-size: 15px">{{ 'registration.emailInvalid' | translate }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex row my-3 justify-content-between">
                  <div class="col-6">
                    <div class="position-relative">
                      <input type="password" class="formInput" id="floatingPassword" placeholder="{{ 'registration.passwordPlaceholder' | translate }}" formControlName="contraseña">
                      <div *ngIf="(registerForm.get('contraseña')?.errors?.['required'] || registerForm.get('contraseña')?.errors?.['invalidPassword']) && registerForm.get('contraseña')?.touched" class="tiptool" style="margin-right: -5px;">
                        <div class="icon">!</div>
                        <div class="tooltiptext">
                          <div style="margin-bottom: -20px;">
                            <p *ngIf="(registerForm.get('contraseña')?.errors?.['required'])" style="font-size: 15px">{{ 'registration.passwordRequired' | translate }}</p>
                            <div *ngIf="(registerForm.get('contraseña')?.errors?.['invalidPassword'])" style="font-size: 15px">
                              <p>{{ 'registration.passwordInvalid' | translate }}</p>
                              <ul>
                                <li>{{ 'registration.passwordCriteria.lowercase' | translate }}</li>
                                <li>{{ 'registration.passwordCriteria.uppercase' | translate }}</li>
                                <li>{{ 'registration.passwordCriteria.digit' | translate }}</li>
                                <li>{{ 'registration.passwordCriteria.length' | translate }}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="position-relative">
                      <input type="password" class="formInput" id="floatingRePassword" placeholder="{{ 'registration.repeatPasswordPlaceholder' | translate }}" formControlName="repetirContrasenia">
                      <div *ngIf="(registerForm.get('repetirContrasenia')?.errors?.['required'] || registerForm.get('repetirContrasenia')?.errors?.['passwordMismatch']) && registerForm.get('repetirContrasenia')?.touched" class="tiptool" style="margin-right: -5px;">
                        <div class="icon">!</div>
                        <div class="tooltiptext">
                          <div style="margin-bottom: -20px;">
                            <p *ngIf="(registerForm.get('repetirContrasenia')?.errors?.['required'])" style="font-size: 15px">{{ 'registration.repeatPasswordRequired' | translate }}</p>
                            <p *ngIf="(registerForm.get('repetirContrasenia')?.errors?.['passwordMismatch'])" style="font-size: 15px">{{ 'registration.repeatPasswordMismatch' | translate }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="my-3">
                  <div class="position-relative">
                    <input type="text" class="formInput" id="floatingInput3" placeholder="{{ 'registration.addressPlaceholder' | translate }}" formControlName="direccion">
                    <div *ngIf="registerForm.get('direccion')?.errors?.['required'] && registerForm.get('direccion')?.touched" class="tiptool" style="margin-right: -5px;">
                      <div class="icon">!</div>
                      <div class="tooltiptext">
                        <div style="margin-bottom: -15px;">
                          <p *ngIf="(registerForm.get('direccion')?.errors?.['required'])" style="font-size: 15px">{{ 'registration.addressRequired' | translate }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="my-3">
                  <div class="position-relative">
                    <input type="text" class="formInput" id="floatingInput4" placeholder="{{ 'registration.phonePlaceholder' | translate }}" formControlName="telefono">
                    <div *ngIf="(registerForm.get('telefono')?.errors?.['required'] || registerForm.get('telefono')?.errors?.['invalidNumber']) && registerForm.get('telefono')?.touched" class="tiptool" style="margin-right: -5px;">
                      <div class="icon">!</div>
                      <div class="tooltiptext">
                        <div style="margin-bottom: -15px;">
                          <p *ngIf="(registerForm.get('telefono')?.errors?.['required'])" style="font-size: 15px">{{ 'registration.phoneRequired' | translate }}</p>
                          <p *ngIf="(registerForm.get('telefono')?.errors?.['invalidNumber'])" style="font-size: 15px">{{ 'registration.phoneInvalid' | translate }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-center mt-2 mb-4">
                  <p class="small" style="text-decoration: none; text-align: start; margin-left: 10px;">{{ 'registration.freeAccess' | translate }}</p>
                </div>
                <div class="d-grid mt-3">
                  <button class="btn btn-lg btn-login text-uppercase fw-bold mb-1 botoncillo" type="submit">{{ 'registration.registerButton' | translate }}</button>
                  <div class="text-center mt-2">
                    <a class="small enlace" [routerLink]="['/login']" style="text-decoration: none;">{{ 'registration.haveAccount' | translate }}</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21); top: 45%; left: 50%; transform: translate(-50%, -50%);" *ngIf="showModal">
    <div class="form">
      <div class="title">{{ 'verificationCode.title' | translate }}</div>
      <p class="message">{{ 'verificationCode.message' | translate }}</p>
      <div class="inputs">
        <input id="input1" type="text" maxlength="1" (input)="moveToNext($event, 1)">
        <input id="input2" type="text" maxlength="1" (input)="moveToNext($event, 2)">
        <input id="input3" type="text" maxlength="1" (input)="moveToNext($event, 3)">
        <input id="input4" type="text" maxlength="1" (input)="moveToNext($event, 4)">
        <input id="input5" type="text" maxlength="1" (input)="moveToNext($event, 5)">
        <input id="input6" type="text" maxlength="1" (input)="moveToNext($event, 6)">
      </div>
      <button class="action" (click)="confirmVerificationCode()">{{ 'verificationCode.verifyButton' | translate }}</button>
    </div>
  </div>
</div>
<app-footer/>
