<div class="container bg-transparent sticky-top">
  <nav class="navbar navbar-expand-lg text-dark mx-auto bg-transparent" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a *ngIf="checkSpecificUrl()" class="navbar-brand titulo" (click)="scrollToSection('Inicio')"><i class="fa-solid fa-cube"></i></a>
      <a *ngIf="!checkSpecificUrl()" class="navbar-brand titulo"  [routerLink]="['/']"><i class="fa-solid fa-cube"></i></a>
      <div class="navbar-collapse d-none d-lg-block" id="navbarResponsive">
        <ul class="navbar-nav ms-auto d-none d-lg-flex">
          <li class="nav-item botones" [class.current]="checkUrl('/')"><a class="nav-link" [routerLink]="['/']">{{ 'HOME' | translate }}</a></li>
          <li class="nav-item botones" [class.current]="checkUrl('/catalogo') || checkUrl('/producto')"><a class="nav-link" [routerLink]="['/catalogo']">{{ 'CATALOG' | translate }}</a></li>
          <li class="nav-item botones" [class.current]="checkUrl('/personalizar') || checkUrl('/personalizar/pintar') || checkUrl('/personalizar/finalizar')"><a class="nav-link"  [routerLink]="['/personalizar']">{{ 'CUSTOMIZATION' | translate }}</a></li>
          <li class="nav-item botones" [class.current]="checkUrl('/tutoriales')"><a class="nav-link"  [routerLink]="['/tutoriales']">{{ 'TUTORIALS' | translate }}</a></li>
          <li class="nav-item botones" [class.current]="checkUrl('/sobreNosotros')"><a class="nav-link"  [routerLink]="['/sobreNosotros']">{{ 'ABOUT_US' | translate }}</a></li>
        </ul>
      </div>
      <label class="popup" *ngIf="administrador">
        <input type="checkbox" />
        <div tabindex="0" class="burger">
          <i class="fa-solid fa-wrench text-white"></i>
        </div>
        <nav class="popup-window">
          <legend class="pb-2">{{"opcionesadministrador" | translate}}</legend>
          <ul>
            <li [class.borderRadius]="checkUrl('/gestionPedidos')" [routerLink]="['/gestionPedidos']">
              <button>
                <i class="fa-solid fa-cart-shopping" [class.textoBlanco]="checkUrl('/gestionPedidos')"></i>
                <span>{{"gestionPedidos" | translate}}</span>
              </button>
            </li>
            <li class="my-1"  [class.borderRadius]="checkUrl('/gestionProductos')" [routerLink]="['/gestionProductos']">
              <button>
                <i class="fa-solid fa-store" [class.textoBlanco]="checkUrl('/gestionProductos')"></i>
                <span>{{"gestionProductos" | translate}}</span>
              </button>
            </li>
            <li [class.borderRadius]="checkUrl('/gestionComentarios')" [routerLink]="['/gestionComentarios']">
              <button>
                <i class="fa-regular fa-comment" [class.textoBlanco]="checkUrl('/gestionComentarios')"></i>
                <span>{{"gestionComentarios" | translate}}</span>
              </button>
            </li>
          </ul>
        </nav>
      </label>
      <div class="wrapper">
        <input type="checkbox" id="toogle" class="hidden-trigger">
        <label for="toogle" class="circle botonIdioma" style="display: grid; place-items: center; position: relative;">
          <i class="fa-solid fa-language" style="font-size: 20px; color: white;"></i>
          <span class="tooltip">{{ tooltipText | translate }}</span>
        </label>

        <div class="subs">
          <button class="sub-circle">
            <input value="es" name="sub-circle" type="radio" id="sub1" class="hidden-sub-trigger" (change)="cambiarIdioma($event)">
            <label for="sub1" style="display: grid; place-items: center;">
              <img src="assets/img/banderas/spain.svg" alt="Imagen de cajon flamenco" width="150%">
            </label>
          </button>
          <button class="sub-circle">
            <input value="en" name="sub-circle" type="radio" id="sub2" class="hidden-sub-trigger" (change)="cambiarIdioma($event)">
            <label for="sub2" style="display: grid; place-items: center;">
              <img src="assets/img/banderas/English.svg" alt="Imagen de cajon flamenco" width="200%">
            </label>
          </button>
          <button class="sub-circle">
            <input value="it" name="sub-circle" type="radio" id="sub3" class="hidden-sub-trigger" (change)="cambiarIdioma($event)">
            <label for="sub3" style="display: grid; place-items: center;">
              <img src="assets/img/banderas/Italy.png" alt="Imagen de cajon flamenco" width="130%">
            </label>
          </button>
        </div>
      </div>
      <button class="nav-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="border: 0px; background-color: transparent;">
        <i class="fa-solid fa-ellipsis iconito"></i>
      </button>
    </div>
  </nav>

  <div class="offcanvas offcanvas-end" style="background-color: rgba(37, 37, 37, 0.998); color: white;" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
      <ul class="navbar-nav">
        <div class="d-block d-lg-none">
          <li class="nav-item titulillo"><a class="nav-link" href="#">{{ 'GO_TO' | translate }}</a></li>
          <ul class="navbar-nav ms-5">
            <li class="nav-item canvasList" style="cursor: pointer;"><a class="nav-link" [routerLink]="['/']">{{ 'HOME' | translate }}</a></li>
            <li class="nav-item canvasList" style="cursor: pointer;"><a class="nav-link"  [routerLink]="['/catalogo']">{{ 'CATALOG' | translate }}</a></li>
            <li class="nav-item canvasList" style="cursor: pointer;"><a class="nav-link"  [routerLink]="['/personalizar']">{{ 'CUSTOMIZATION' | translate }}</a></li>
            <li class="nav-item canvasList" style="cursor: pointer;"><a class="nav-link"  [routerLink]="['/tutoriales']">{{ 'TUTORIALS' | translate }}</a></li>
            <li class="nav-item canvasList" style="cursor: pointer;"><a class="nav-link"  [routerLink]="['/sobreNosotros']">{{ 'ABOUT_US' | translate }}</a></li>
          </ul>
        </div>
        <li class="nav-item titulillo mt-3"><a class="nav-link">{{ 'ACCOUNT' | translate }}</a></li>
        <ng-container *ngIf="sesionIniciada(); else notLoggedIn">
          <ul class="navbar-nav ms-5">
            <li class="nav-item canvasList" [class.active]="checkUrl('/perfil')"><a class="nav-link"  [routerLink]="['/perfil']">{{ 'MY_PROFILE' | translate }}</a></li>
            <li class="nav-item canvasList" style="display: flex; align-items: center;" [class.active]="checkUrl('/carrito')"><a class="nav-link"  [routerLink]="['/carrito']">{{ 'CART' | translate }}</a>  <span style="background-color:rgb(84, 112, 204); padding: 3px 7px; font-size: 13px; border-radius: 50%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold; margin-left: 10px; min-width: 25px; text-align: center;">{{totalProductos}}</span> </li>
            <li class="nav-item canvasList" [class.active]="checkUrl('/pedidos')"><a class="nav-link"  [routerLink]="['/pedidos']">{{ 'MY_ORDERS' | translate }}</a></li>
            <li class="nav-item canvasList" style=" cursor: pointer;"><a class="nav-link" (click)="cerrarSesion()">{{ 'LOGOUT' | translate }}</a></li>
          </ul>
        </ng-container>
        <ng-template #notLoggedIn>
          <ul class="navbar-nav ms-5">
            <li class="nav-item canvasList" [class.active]="checkUrl('/login')"><a class="nav-link"  [routerLink]="['/login']">{{ 'LOGIN' | translate }}</a></li>
            <li class="nav-item canvasList" [class.active]="checkUrl('/register')"><a class="nav-link"  [routerLink]="['/register']">{{ 'REGISTER' | translate }}</a></li>
          </ul>
        </ng-template>
        <li *ngIf="checkUrl('/')"  class="nav-item titulillo  mt-3"><a class="nav-link">{{ 'HELP' | translate }}</a></li>
        <ul *ngIf="checkUrl('/')" class="navbar-nav ms-5">
          <li *ngIf="checkUrl('/')" class="nav-item canvasList"><a class="nav-link" style="cursor: pointer;" (click)="scrollToSection('Contacto')">{{ 'FAQ' | translate }}</a></li>
          <li *ngIf="checkUrl('/')" class="nav-item canvasList"><a class="nav-link" style="cursor: pointer;" (click)="scrollToSection('Contacto')">{{ 'RETURN_POLICY' | translate }}</a></li>
          <li *ngIf="checkUrl('/')" class="nav-item canvasList"><a class="nav-link" style="cursor: pointer;" (click)="scrollToSection('Contacto')">{{ 'TERMS_AND_CONDITIONS' | translate }}</a></li>
        </ul>
        <li class="nav-item titulillo mt-3"><a class="nav-link" (click)="scrollToSection('Contacto')">{{ 'ABOUT' | translate }}</a></li>
        <ul class="navbar-nav ms-5">
          <li class="nav-item canvasList"><a class="nav-link" href="https://www.linkedin.com/in/juanancaballero">{{ 'ABOUT_STUDENT' | translate }}</a></li>
          <li class="nav-item canvasList"><a class="nav-link" href="https://www.iestrassierra.com/">{{ 'ABOUT_SCHOOL' | translate }}</a></li>
        </ul>
      </ul>
    </div>
  </div>
</div>
