
  <div class="container mx-auto" style="min-height: 77.3vh; padding-top: 30px;">
    <div class="row justify-content-around mt-3">

      <div class="d-none d-lg-block col-lg-4 mb-4 mb-lg-0 mt-5">
        <div #rendererContainer style="background-color: transparent; height: 400px;">
        </div>
      </div>

      <div class="col-12 col-lg-4 row mx-auto mx-lg-0 text-end mt-5 mt-lg-0">
        <div [ngStyle]="{ 'background': 'url(' + getTipoMaderaBackground() + ')' }"  style="background-size: cover; background-repeat: no-repeat; width: fit-content; padding: 10px; margin: 0px auto; border-radius: 10px; height: fit-content;">
          <canvas style="border-radius: 10px;" #canvas></canvas>
        </div>

      </div>

      <div class="col-12 col-lg-4 mt-5 mt-lg-0">
          <div class="row g-3">
            Texto
            <hr style="margin: 7px 0px;">
            <div class="col-8">
              <label class="form-label">Texto a insertar:</label>
              <div class="input-group">
                <input [(ngModel)]="textoAInsertar" type="text" class="form-control">
                <button (click)="agregarTexto()" class="btn btn-primary">Agregar texto</button>
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Fuente del texto:</label>
              <select (change)="cambiarFuente()" [(ngModel)]="fuenteTexto" class="form-select">
                <option value="Arial">Arial</option>
                <option value="Verdana">Verdana</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Courier New">Courier New</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">Color del texto:</label>
              <input id="colorTexto" [(ngModel)]="colorTexto" type="color" (change)="cambiarColor()" class="form-control form-control-color mx-auto">
            </div>

            <div class="col-md-4">
              <label class="form-label">Grosor del texto:</label>
              <input [(ngModel)]="grosorTexto" type="range" min="1" max="800" (change)="cambiarGrosor()" class="form-range">
            </div>

            <div class="col-md-4">
              <label class="form-label">Justificación del texto:</label>
              <select (change)="cambiarJustificacion()" [(ngModel)]="justificacionTexto" class="form-select">
                <option value="left">Izquierda</option>
                <option value="center">Centro</option>
                <option value="right">Derecha</option>
              </select>
            </div>
            Pintar
            <hr style="margin: 7px 0px;">
            <div class="btn-group mb-3" role="group" aria-label="Herramientas de dibujo">
              <button type="button" class="btn btn-primary" (click)="activarPintura()">
                <i class="fas fa-pencil-alt"></i> Pintar
              </button>
              <button type="button" class="btn btn-secondary" (click)="dibujarCirculo(100, 100, 50)">
                <i class="far fa-circle"></i>
              </button>
              <button type="button" class="btn btn-secondary" (click)="dibujarRectangulo(200, 200, 100, 100)">
                <i class="far fa-square"></i>
              </button>
              <button type="button" class="btn btn-secondary" (click)="dibujarTriangulo(300, 300, 50, 50)">
                <i class="fas fa-caret-up"></i>
              </button>
            </div>
            <div class="col-md-6 text-center">
              <label class="form-label">Grosor de la linea:</label>
              <input [(ngModel)]="grosorPincel" type="range" min="1" max="50" (change)="cambiarGrosorPintura()" class="form-range">
            </div>
            <div class="col-md-6 text-center">
              <label class="form-label">Color de la linea:</label>
              <input id="colorLinea" [(ngModel)]="colorLinea" type="color" (change)="cambiarColorPintura()" class="form-control form-control-color mx-auto">
            </div>

            Imagenes
            <hr style="margin: 7px 0px;">
            <div class="col-12">
              <label class="form-label">Subir imagen:</label>
              <input type="file" (change)="onFileInputChange($event)" accept="image/*" class="form-control">
            </div>

            <hr style="margin-top: 25px; margin-bottom: 10px;  ">
            <div class="col-12" style="z-index: 3;">
              <button (click)="borrarImagenSeleccionada()" class="btn btn-danger">Borrar</button>
            </div>
          </div>
        </div>

      <div class="col-12" style="display: flex; justify-content: center; margin-top: -50px; z-index: 1;">
        <button class="boton" (click)="irAEleccion()"><i class="fa-solid fa-angle-left arriba"></i></button>
        <button class="boton ms-3" (click)="irAVer()"><i class="fa-solid fa-angle-right arriba"></i></button>
      </div>
    </div>
  </div>
