<div class="container mx-auto" style="min-height: 77.3vh; padding-top: 30px;">
  <div class="row justify-content-around mt-3">

    <div class="d-none d-lg-block col-lg-4 mb-4 mb-lg-0 mt-5">
      <div #rendererContainer style="background-color: transparent; height: 400px;">
      </div>
    </div>

    <div class="col-12 col-lg-4 row mx-auto mx-lg-0 text-end mt-5 mt-lg-0">
      <div [ngStyle]="{ 'background': 'url(' + getTipoMaderaBackground() + ')' }"  style="background-size: cover; background-repeat: no-repeat; width: fit-content; padding: 10px; margin: 0px auto; border-radius: 10px; height: fit-content;">
        <canvas style="border-radius: 10px;" #canvas></canvas>
      </div>
    </div>

    <div class="col-12 col-lg-4 mt-5 mt-lg-0">
      <div class="row g-3">
        {{"Texto" | translate}}
            <hr style="margin: 7px 0px;">
        <div class="col-8">
          <label class="form-label">{{ 'InsertText' | translate }}</label>
          <div class="input-group">
            <input [(ngModel)]="textoAInsertar" type="text" class="form-control">
            <button (click)="agregarTexto()" class="btn btn-primary">{{ 'AddText' | translate }}</button>
          </div>
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ 'TextFont' | translate }}</label>
          <select (change)="cambiarFuente()" [(ngModel)]="fuenteTexto" class="form-select">
            <option value="Arial">Arial</option>
            <option value="Verdana">Verdana</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Courier New">Courier New</option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ 'TextColor' | translate }}</label>
          <input id="colorTexto" [(ngModel)]="colorTexto" type="color" (change)="cambiarColor()" class="form-control form-control-color mx-auto">
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ 'TextThickness' | translate }}</label>
          <input [(ngModel)]="grosorTexto" type="range" min="1" max="800" (change)="cambiarGrosor()" class="form-range">
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ 'TextJustification' | translate }}</label>
          <select (change)="cambiarJustificacion()" [(ngModel)]="justificacionTexto" class="form-select">
            <option value="left">{{ 'Left' | translate }}</option>
            <option value="center">{{ 'Center' | translate }}</option>
            <option value="right">{{ 'Right' | translate }}</option>
          </select>
        </div>
        {{"Pintar" | translate}}
        <hr style="margin: 7px 0px;">
        <div class="btn-group mb-3" role="group" aria-label="Drawing Tools">
          <button type="button" class="btn btn-primary" (click)="activarPintura()">
            <i class="fas fa-pencil-alt"></i> {{ 'Paint' | translate }}
          </button>
          <button type="button" class="btn btn-secondary" (click)="dibujarCirculo(100, 100, 50)">
            <i class="far fa-circle"></i>
          </button>
          <button type="button" class="btn btn-secondary" (click)="dibujarRectangulo(200, 200, 100, 100)">
            <i class="far fa-square"></i>
          </button>
          <button type="button" class="btn btn-secondary" (click)="dibujarTriangulo(300, 300, 50, 50)">
            <i class="fas fa-caret-up"></i>
          </button>
        </div>

        <div class="col-md-6 text-center">
          <label class="form-label">{{ 'LineWidth' | translate }}</label>
          <input [(ngModel)]="grosorPincel" type="range" min="1" max="50" (change)="cambiarGrosorPintura()" class="form-range">
        </div>
        <div class="col-md-6 text-center">
          <label class="form-label">{{ 'LineColor' | translate }}</label>
          <input id="colorLinea" [(ngModel)]="colorLinea" type="color" (change)="cambiarColorPintura()" class="form-control form-control-color mx-auto">
        </div>
        {{"Imagenes" | translate}}
        <hr style="margin: 7px 0px;">
        <div class="col-12">
          <label class="form-label">{{ 'UploadImage' | translate }}</label>
          <input type="file" (change)="onFileInputChange($event)" accept="image/*" class="form-control">
        </div>

        <hr style="margin-top: 25px; margin-bottom: 10px;  ">
        <div class="col-3" style="z-index: 3;">
          <button (click)="borrarImagenSeleccionada()" class="btn btn-danger">{{ 'Delete' | translate }}</button>
        </div>
        <div class="col-7" style="z-index: 3;">
          <button *ngIf="!botonPresionado" (click)="fondoNormal()" class="btn btn-success">{{ 'backgroundNormal' | translate }}</button>
          <button *ngIf="botonPresionado" (click)="fondoBlanco()" class="btn btn-dark">{{ 'backgroundWhite' | translate }}</button>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4 mt-lg-0" style="display: flex; justify-content: center; margin-top: -20px; z-index: 1;">
      <button class="boton" (click)="irAEleccion()"><i class="fa-solid fa-angle-left arriba"></i></button>
      <button class="boton ms-3" (click)="irAVer()"><i class="fa-solid fa-angle-right arriba"></i></button>
    </div>
  </div>
</div>
<app-footer/>
