<div class="container" style="height: 76.4vh; display: flex; align-items: center; justify-content: center;">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center mt-5">
      <h1 class="display-4">
        {{ 'Error404' | translate }}
      </h1>
      <p class="lead">
        {{ 'PageNotFound' | translate }}
      </p>
      <a class="btn" style="background-color: rgb(92, 129, 249); color: white;" [routerLink]="['/']" routerLinkActive="router-link-active" >
        {{ 'GoToHomePage' | translate }}
      </a>
    </div>
  </div>
</div>
<app-footer/>
