/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/modules/pagination/pagination.min.css";
@import "../node_modules/swiper/modules/navigation/navigation.min.css";

@font-face {
  font-family: 'MiFuente';
  src: url('./assets/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype'),
  url('./assets/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype'),
  url('./assets/fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype'),
  url('./assets/fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype'),
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(142, 167, 247);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  scroll-behavior: auto !important;
}
